@model nailon.Entities.Category
@{
    ViewData["Title"] = "Update Product";
}

<div class="container">
    <h1 class="title">Update Category</h1>

    <form method="post" style="width: 50%;">
        <div class="form-group">
            <label for="nameInput" class="name">Name:</label>
            <input id="nameInput" name="Name" type="text" class="form-control input" value="@Model.Name">
        </div>
        <button type="submit" class="btn add">Save</button>
        <a type="button" href="@Url.Action("Index", "nailon")" class="btn danger text-white mb-3">Cancel</a>

    </form>
</div>
